datasets/Casos/Chapman/CasosNuestros/
datasets/Casos/Chapman/CasosNumpyEntreMil/
datasets/Casos/Chapman/CasosNumpyEntreMil/*MUSE*
datasets/Casos/Chapman/CasosNumpy/*MUSE*
datasets/Casos/Chapman/ECGDataRawUp/
datasets/Casos/Chapman/ECGDataRaw/*MUSE*
datasets/Casos/Chapman/ECGDataRawNpy-1000Up/
datasets/Casos/Chapman/ECGDataRawNpy-1000/*MUSE*
datasets/Casos/Chapman/ECGDataRawNpy-NoBaseLineUp/
datasets/Casos/Chapman/ECGDataRawNpy-1000-NoBL/*MUSE*
datasets/Casos/Chapman/ECGDataRawNpyUp/
datasets/Casos/Chapman/ECGDataRawNpy/*MUSE*
datasets/Casos/Chapman/ECGDataRaw/ECGDataRaw.zip
source/__pycache__/
source/nets/__pycache__/